<!doctype html>
<html lang="en">

<head>
    <title>Amadon Store</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <h1>Amadon Store!</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Dojo T-Shirt</td>
                <td>$19.99</td>
                <td>
                    <form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                        <option>1</option value=1>
                        <option>2</option value=2>
                        <option>3</option value=3>
                    </select>
                    <input type='hidden' name='product_id' value='1015'/>
                    <input type='submit' value='Buy!'/>
                    </form>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Dojo Sweater</td>
                <td>$29.99</td>
                <td>
                    <form action='/amadon/buy' method='post'>
                    {% csrf_token %}
                    <select name='quantity'>
                        <option>1</option value =1>
                        <option>2</option value =2>
                        <option>3</option value =3>
                    </select>
                    <input type='hidden' name='product_id' value='1016' />
                    <input type='submit' value='Buy!' />
                    </form>
            </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Dojo Cup</td>
                <td>$4.99</td>
                <td>
                    <form action='/amadon/buy' method='post'>
                        {% csrf_token %}
                        <select name='quantity'>
                            <option>1</option value=1>
                            <option>2</option value=2>
                            <option>3</option value=3>
                        </select>
                        <input type='hidden' name='product_id' value='1017' />
                        <input type='submit' value='Buy!' />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>